# Application settings
SECRET_KEY=change_me_to_a_random_secure_string
SESSION_COOKIE_SECURE=true
SESSION_TIMEOUT=7200
SESSION_CLEANUP_INTERVAL=1800

# Gunicorn settings
GUNICORN_WORKERS=4
GUNICORN_TIMEOUT=120

# Container settings
COMPOSE_PROJECT_NAME=dtf-packer 